<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
  <title>JQurey UI</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
  <%= stylesheet_link_tag 'scaffold', 'less', 'application', 'redmond/jquery-ui-1.8.9.custom' %>
  <%= javascript_include_tag 'rails', 'application', 'jquery-ui-1.8.9.custom.min' %>
  <%= csrf_meta_tag %>
</head>
<body>

<section id="page">
	<%= yield %>
</section>

</body>
</html>
